{{>header}}
  <div class="main-content">
       <h3>{{title}}</h3>   
       <p>Use this site to get your weather forecast.</p>

      <form>
        <input placeholder="Location" required>
        <button>Search</button>
      </form>
      <p id="msg-one"></p>
      <p id="msg-two"></p>
       
  </div>
{{>footer}}